body {
    background-image: url('../img/jdm.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100vw;
    height: 56px;
    position: fixed;
    background-color: green;
}

#header i {
    margin-top: 1.2em;
    margin-left: 1em;
    color: yellow;
}

#side-menu {
    position: fixed;
    z-index: 10000;
    width: 44vw;
    height: 100vh;
    background-color: green;
    visibility: hidden;
}

#side-menu i {
    margin-top: 1em;
    margin-left: 1em;
    color: yellow;
}

#h1-menu {
    margin-top: 1em;
    margin-left: 1em;
    color: yellow;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#h3-menu {
    margin-top: 1em;
    margin-left: 3em;
    color: yellow;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(64, 79, 165);;
}

section {
    display: flex;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
    0% {
    transform: translateY(50px);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}

#mk3 {
    display: flex;
    align-items: center;
}

#mk4 {
    display: flex;
    align-items: center;
}

#mk5 {
    display: flex;
    align-items: center;
}

#imagen-mk3 {
    margin-top: 2em;
    margin-left: -13em;
    width: 50vw;
    height: 40vw;
    float: right;
}

#imagen-mk3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#imagen-mk4 {
    margin-top: 7em;
    margin-left: -11.5em;
    width: 50vw;
    height: 40vw;
    float: right;
}

#imagen-mk4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagen-mk5 {
    margin-top: 7.5em;
    margin-left: -13em;
    width: 50vw;
    height: 40vw;
    float: right;
}

#imagen-mk5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#texto-mk3{
    margin-top: 34em;
    margin-left: 2em;
}

#texto-mk3 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    margin-left: 0.1em;
    font-weight: bold;
    color: black;
}

#texto-mk3 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

#texto-mk4{
    margin-top: 38em;
    margin-left: 2em;
}

#texto-mk4 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    margin-left: 0.1em;
    font-weight: bold;
    color: black;
}

#texto-mk4 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

#texto-mk5{
    margin-top: 38.5em;
    margin-left: 2em;
}

#texto-mk5 h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    margin-left: 0.1em;
    font-weight: bold;
    color: black;
}

#texto-mk5 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

#footer{
    margin-top: 10em;
    margin-left: 7em;
    font-size: 8px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #header {
        width: 100vw;
        height: 56px;
        position: fixed;
        background-color: green;
    }
    
    #header i {
        margin-top: 1.2em;
        margin-left: 1em;
        color: yellow;
    }
    
    #side-menu {
        position: fixed;
        z-index: 10000;
        width: 45vw;
        height: 100vh;
        background-color: green;
        visibility: hidden;
    }
    
    #side-menu i {
        margin-top: 1em;
        margin-left: 1em;
        color: yellow;
    }
    
    #h1-menu {
        margin-top: 1em;
        margin-left: 1em;
        color: yellow;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #h3-menu {
        margin-top: 1em;
        margin-left: 3em;
        color: yellow;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        color: rgb(64, 79, 165);;
    }
    
    #mk3 {
        display: flex;
        align-items: center;
    }
    
    #mk4 {
        display: flex;
        align-items: center;
    }
    
    #mk5 {
        display: flex;
        align-items: center;
    }

    #imagen-mk3 {
        margin-top: -1em;
        margin-left: -26.8em;
        width: 60vw;
        height: 50vw;
        float: right;
    }
    
    #imagen-mk3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    
    #imagen-mk4 {
        margin-top: 1em;
        margin-left: -23.7em;
        width: 60vw;
        height: 50vw;
        float: right;
    }
    
    #imagen-mk4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #imagen-mk5 {
        margin-top: 0em;
        margin-left: -25em;
        width: 60vw;
        height: 50vw;
        float: right;
    }
    
    #imagen-mk5 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #texto-mk3{
        margin-top: 34em;
        margin-left: 2em;
    }
    
    #texto-mk3 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk3 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }
    
    #texto-mk4{
        margin-top: 35em;
        margin-left: 2em;
    }
    
    #texto-mk4 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk4 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }
    
    #texto-mk5{
        margin-top: 36em;
        margin-left: 1em;
    }
    
    #texto-mk5 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk5 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }

    #footer{
        margin-left: 23em;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #header {
        width: 140vw;
        height: 56px;
        position: fixed;
        background-color: green;
    }
    
    #header i {
        margin-top: 1.2em;
        margin-left: 1em;
        color: yellow;
    }
    
    #side-menu {
        position: fixed;
        z-index: 10000;
        width: 35vw;
        height: 100vh;
        background-color: green;
        visibility: hidden;
    }
    
    #side-menu i {
        margin-top: 1em;
        margin-left: 1em;
        color: yellow;
    }
    
    #h1-menu {
        margin-top: 1em;
        margin-left: 1em;
        color: yellow;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #h3-menu {
        margin-top: 1em;
        margin-left: 3em;
        color: yellow;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        color: rgb(64, 79, 165);;
    }
    
    #mk3 {
        display: flex;
        align-items: center;
    }
    
    #mk4 {
        display: flex;
        align-items: center;
    }
    
    #mk5 {
        display: flex;
        align-items: center;
    }

    #imagen-mk3 {
        margin-top: 0em;
        margin-left: -24.5em;
        width: 60vw;
        height: 50vw;
        float: right;
    }
    
    #imagen-mk3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    
    #imagen-mk4 {
        margin-top: 2em;
        margin-left: -21.5em;
        width: 60vw;
        height: 50vw;
        float: right;
    }
    
    #imagen-mk4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #imagen-mk5 {
        margin-top: 1em;
        margin-left: -24em;
        width: 60vw;
        height: 50vw;
        float: right;
    }
    
    #imagen-mk5 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #texto-mk3 {
        margin-top: 34em;
        margin-left: 2em;
    }
    
    #texto-mk3 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk3 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }
    
    #texto-mk4 {
        margin-top: 35em;
        margin-left: 2em;
    }
    
    #texto-mk4 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk4 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }
    
    #texto-mk5 {
        margin-top: 36em;
        margin-left: 2em;
    }
    
    #texto-mk5 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk5 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }

    #footer{
        margin-left: 30em;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #header {
        width: 100vw;
        height: 56px;
        position: fixed;
        background-color: green;
    }
    
    #header i {
        margin-top: 1.2em;
        margin-left: 1em;
        color: yellow;
    }
    
    #side-menu {
        position: fixed;
        z-index: 10000;
        width: 25vw;
        height: 100vh;
        background-color: green;
        visibility: hidden;
    }
    
    #side-menu i {
        margin-top: 1em;
        margin-left: 1em;
        color: yellow;
    }
    
    #h1-menu {
        margin-top: 1em;
        margin-left: 1em;
        color: yellow;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #h3-menu {
        margin-top: 1em;
        margin-left: 3em;
        color: yellow;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    a:hover {
        color: rgb(64, 79, 165);;
    }

    #mk3 {
        display: flex;
    }
    
    #mk4 {
        display: flex;
    }
    
    #mk5 {
        display: flex;
    }

    #imagen-mk3 {
        margin-top: 10em;
        margin-left: -1em;
        width: 40vw;
        height: 30vw;
        float: right;
    }
    
    #imagen-mk3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    
    #imagen-mk4 {
        margin-top: 32em;
        margin-left: 15em;
        width: 40vw;
        height: 30vw;
        float: right;
    }
    
    #imagen-mk4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #imagen-mk5 {
        margin-top: 18em;
        margin-left: 15em;
        width: 40vw;
        height: 30vw;
        float: right;
    }
    
    #imagen-mk5 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #texto-mk3 {
        margin-top: 19em;
        margin-left: 2em;
    }
    
    #texto-mk3 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk3 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
    }
    
    #texto-mk4 {
        margin-top: 39em;
        margin-left: 1em;
    }
    
    #texto-mk4 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk4 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }
    
    #texto-mk5 {
        margin-top: 42em;
        margin-left: 2em;
        margin-bottom: 26em;
    }
    
    #texto-mk5 h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        margin-left: 0.1em;
        font-weight: bold;
        color: black;
    }
    
    #texto-mk5 h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
    }

    #footer{
        margin-top: -5em;
        margin-left: 33em;
        font-size: 12px;
    }

}
